.panel {
    padding: 2rem;
    float: left;
    width: 100%;
    height: auto;
}

.visualizations_cover {
    padding-bottom: 2rem;
}

.vis {
    text-align: center;
}

.vis_cover_side {
    text-align: center;
}

.visualization_card {
    max-width: 38rem;
    max-height: auto;
}

.nav-link:hover {
    background-color:rgba(52, 150, 165, 0.75);
   }

.navbar-brand:hover {
    color: rgb(45, 158, 175);
}
    a {
    color: rgb(231, 231, 231);
    font-size: 15px;
}

.navbar {
    max-height: 50px;
}

.navbar-collapse {
    float: right;
    align-content: right;
}

.navigation .navbar-brand {
    color: rgb(52, 161, 165);
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    font-family: cochin;
}