body {
    background-color: aqua;
}

.big-box {
    background-color: white;
}

.panel {
    padding: 2rem;
    float: left;
    width: 100%;
    height: auto;
}

.landing_image {
    padding: 2rem;
    width: 100%;
    height: auto;
}

.visualizations_cover {
    padding-bottom: 2rem;
}

.vis {
    text-align: center;
}

.vis_cover_side {
    text-align: center;
}

.visualization_card {
    max-width: 38rem;
    max-height: auto;
}

